* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 15px;
}

table {
    width: 70%; 
    text-align: center;
}

table, td, th {
    border: 1px solid;
}

table button {
    padding: 0;
    border: 0;
    background-color: white;
    height: 21px;
    width: 21px;
}

td:nth-child(5n + 1), th:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

th {
    height: 21px;
}

svg {
    width: 20px;
    height: 20px;
}

svg:hover {
    height: 21px;
    width: 21px;
    fill: #ff2323;
}

svg:active {
    fill: #919191;
}

dialog {
    margin: auto;
    padding: 20px;
}

form > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

form > div + div, form > button {
    margin-top: 10px;
}

form  input[type="text"] {
    width: 200px;
}

form button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

form button:hover {
    background-color: #bdbdbd;
}

form button:active {
    box-shadow: inset 1px 1px 2px;
}

button:hover {
    cursor: pointer;
}