* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 15px;
}

table {
    width: 400px;
    text-align: center;
}

table, td, th {
    border: 1px solid;
}